---
import { Card } from '@astrojs/starlight/components';
import RepoCardHeading from './RepoCardHeading.astro';

/*
{
        "homepage": "",
        "url": "https://github.com/seanmcbroom/jellyfin-discord-webhooks",
        "description": "Simple Discord webhook templates for Jellyfin notifications.",
        "name": "jellyfin-discord-webhooks",
        "full_name": "seanmcbroom/jellyfin-discord-webhooks",
        "id": 594694620,
        "topics": [
            "discord",
            "jellyfin",
            "templates",
            "webhook"
        ],
        "lists": [],
        "license": {
            "key": "mit",
            "name": "MIT License",
            "spdx_id": "MIT",
            "url": "https://api.github.com/licenses/mit",
            "node_id": "MDc6TGljZW5zZTEz"
        }
    },
*/
// Usage: <GreetingHeadline greeting="Howdy" name="Partner" />
const { homepage, url, description, full_name, id, topics, lists, license, name, owner, owner_type } = Astro.props;

// console.log(Astro.props);
---

<Card title="" >
	<span id={full_name}></span>
	<h5>
		<a href={"http://github.com/"+owner} target="_blank">
			<em>{owner}/</em>
		</a>
	</h5>
	<h3>
		<a href={"http://github.com/"+full_name} target="_blank">
			{name}
		</a>
	</h3>
	<p>
		{description}
	</p>
	<h5>Repository:</h5>
	<a href={url} target="_blank">View the repository</a>
	<h5>License:</h5>
	<ul>
		<li>
			{license?.name || "Other"}
		</li>
	</ul>
	<h5>Related topics:</h5>
	<div style="display: flex; width: 100%; flex-wrap: wrap; flex-direction: row; justify-content: center; text-align: center; vertical-align: top;">
		{topics.map((topic: string) => {
			// console.log(topic);
			return <div style="width: 50%;"><a href={"/topics/"+topic}>{topic}</a></div>
		})}
	</div>
	<h5>Related lists:</h5>
	<ul>
		{lists.map((list: string) => {
			// console.log(list);
			return <li><a href={"/lists/"+list}>{list}</a></li>
		})}
	</ul>
	<h6>Repository ID {id}</h6>
</Card>